<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="../public/images/mamba-negra.jpg" width="400" height="400" alt="Mamba Negra">
    <img src="../public/images/african-rain-spider.jpg" width="400" height="400" alt="Tarantula">
    <img src="../public/images/800px-Oso_pardo_madrid.jpg" width="400" height="400" alt="Pardo">
    <a href="/">Volver</a>
</body>
</html>