<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoo Huesca</title>
</head>
<body>
    <nav>
    <h1><a href="/"></a>Zoo Huesca</h1>
    <a href="/nuevo">Nuevo</a>
    <form action="/">
        <input type="text" name="nombre" placeholder="Buscar por nombre">
        <input type="submit" value="Buscar">
    </form>
    <ul>
        <%animals.map((animal)=>{%>
        <li>
            <%=animal.nombre%><br>
            <%=animal.dieta%><br>
            <%=animal.kg%><br>
            <%=animal.especie%><br>
        </li>
        <%})%>
    </ul>
</body>
</html>